atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.1
colorama==0.4.4
colored==1.4.2
constants==0.6.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.19.5
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pycparser==2.20
pyfiglet==0.8.post1
pygame==2.0.1
pyparsing==2.4.7
pytest==6.2.2
requests==2.25.1
simple-http-server==0.10.0
SimpleHTTPSServer==0.6.98
six==1.15.0
style==1.1.0
tcod==11.19.3
toml==0.10.2
typing-extensions==3.7.4.3
update==0.0.1
urllib3==1.26.4
Werkzeug==1.0.1
