html {
    font-family: Arial Narrow, sans-serif;
}

.after-header {
    background-color: #323232;
    margin-bottom: 50px;
    margin-top: 50px;
}

.after-header .after-header-wrap {
    list-style: none;
    width: 100%;
    max-width: 1600px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.after-header .after-header-wrap a:link, .after-header .after-header-wrap a:visited {
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    margin: 0;
    color: #ffffff;
}

.after-header .after-header-wrap a:hover {
    color: #2c5151;
}

.header {
    padding: 5px 0 0 0;
    margin: 0;
    color: #000000;
    background: #0b0c10 url("background-logo.jpg") no-repeat center;
    background-size: cover;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}

.header-logo-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.breed-history {
    width: 700px;
    margin-left: 50px;
    text-align: justify;
}

.references {
    width: 700px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: justify;
    font-style: italic;
    font-size: 10px;

}

.main-characteristic {
    width: 700px;
    margin-left: 50px;
    text-align: justify;
}

.warring {
    color: red;
    font-weight: bold;
}

.h2-titles {
    margin-left: 50px;
}

.h3-titles {
    margin-left: 50px;
}

.h4-titles {
    margin-left: 50px;
}

.StickyMenu {
    position: fixed;
    right: 25px;
    top: 250px;
    width: 300px;
    background-color: #aeaeae;
    border-radius: 10px;
    text-align: center;
    align-items: center;

}
