html {
    font-family: Arial Narrow, sans-serif;
}

.after-header {
    background-color: #323232;
    margin-bottom: 50px;
    margin-top: 50px;
}

.after-header .after-header-wrap {
    list-style: none;
    width: 100%;
    max-width: 1600px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.after-header .after-header-wrap a:link, .after-header .after-header-wrap a:visited {
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    margin: 0;
    color: #ffffff;
}

.after-header .after-header-wrap a:hover {
    color: #2c5151;
}

.header {
    padding: 5px 0 0 0;
    margin: 0;
    color: #000000;
    background: #0b0c10 url("background-logo.jpg") no-repeat center;
    background-size: cover;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}

.header-logo-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}