html {
    font-family: Arial Narrow, sans-serif;
    background-color: #f1f1f1;
}

.center {
    text-align: -webkit-center;
    background-color: #f1f1f1;
}

body {
    text-align: -webkit-center;
    width: 100%;
    margin: 10%;

}

.after-header {
    background-color: #323232;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.after-header .after-header-wrap {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.after-header .after-header-wrap a:link, .after-header .after-header-wrap a:visited {
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    margin: 0;
    color: #ffffff;
}

.after-header .after-header-wrap a:hover {
    color: #2c5151;
}

.header {
    padding: 5px 0 0 0;
    margin: 0;
    color: #000000;
    background: #0b0c10 url("background-logo.jpg") no-repeat center;
    background-size: cover;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}

.header-logo-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.breed-history {
    width: 700px;
    text-align: justify;
}

.references {
    width: 700px;;
    margin-top: 100px;
    text-align: justify;
    font-style: italic;
    font-size: 10px;
}

.main-characteristic {
    width: 700px;
    text-align: justify;
}

.warring {
    color: red;
    font-weight: bold;
}

.h1-titles {
    text-shadow: 2px 2px 0 #343a40, 2px -2px 0 #343a40, -2px 2px 0 #343a40, -2px -2px 0 #343a40, 2px 0 0 #343a40, 0 2px 0 #343a40, -2px 0 0 #343a40, 0 -2px 0 #343a40, 1px 1px 1px rgba(206, 89, 55, 0);
    color: #eceaea;
    font-size: 45px;
    background-color: #ffffff;
    padding-bottom: 5px;
}

.h2-titles {
    text-shadow: 2px 2px 0 #343a40, 2px -2px 0 #343a40, -2px 2px 0 #343a40, -2px -2px 0 #343a40, 2px 0 0 #343a40, 0 2px 0 #343a40, -2px 0 0 #343a40, 0 -2px 0 #343a40, 1px 1px 1px rgba(206, 89, 55, 0);
    color: #eceaea;
    font-size: 30px;
}

.vitalStat {
    border-style: dashed;
    border-color: #bbbbbb;
    border-radius: 10px;
    width: 600px;
    height: 200px;
}

.dogBreedGroup {
    float: left;
    width: 25%;
}

.lifeSpan {
    float: left;
    width: 25%;
}

.dogHeight {
    float: left;
    width: 25%;
}

.dogWeight {
    float: left;
    width: 25%;
}

/*INDEX PAGE*/

.centerIndex {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.flagStyle {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.flagStyle-2 {
    margin: 25px;
}

/* FOOTER */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

/* LITTERS TABLE */

.littersTable {
    border: dashed;
    border-color: #bbbbbb;
    border-radius: 10px;
}

.littersCell {
    padding: 25px;
    height: 350px;
}

.btn {
    background-color: #8e8e8e;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Arial Narrow, monospace;
    cursor: pointer;
}

/* PHOTO HOVER EFFECTS */
.hoverEffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hoverEffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    top: -200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
}

.hoverEffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.hoverEffect img {
    display: block;
    position: relative;
}

.hoverEffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hoverEffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hoverEffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    margin: 150px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #000;
    border: 1px solid #000;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.hoverEffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hoverEffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0 0 5px #000;
    color: #000;
    border: 1px solid #000;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* RESPONSIVE TABLE */
.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-direction: normal;
}

.table-responsive-stack td,
.table-responsive-stack th {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: block;
    }

    .table-responsive-stack td {
        float: left \9;
        width: 100%;
    }
}

/* CAROUSEL */
.carousel-inner img {
    width: 750px;
    height: 550px;
}

.carousel-size {
    width: 750px;
    height: 550px;
    display: flex;
    flex-direction: row;
}

/* MODAL PEDIGREE */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* MAIN TITLE */
body.mainLogo {
    font: 400 1em/1.5 "Neuton";
    text-align: center;
    margin: 0
}

p.logo {
    text-transform: uppercase;
    letter-spacing: 1em;
    display: inline-block;
    padding: 20px 20px;
}

span.logo {
    font: 80px "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px #9a9a9a;

    /* Clip Background Image */

    background: url(/static/images/1a.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 10s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* GOOGLE MAPS */
.google-maps {
    position: center;
    padding-bottom: 75%;
    height: 200px;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50% !important;
    height: 50% !important;
}

.tel-mail {
    color: #0b0c10;
}

/* QUOTES */
.container {
    max-width: 700px;
    margin: 10px auto;

}

.quote-card {
    background: #fff;
    color: #222222;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 120px;
}

.quote-card p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
}

.quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
}

.quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}

.quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -90px;
    line-height: 100px;
    right: 50px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}

@media (max-width: 640px) {
    .quote-card:after {
        font-size: 22em;
        right: -25px;
    }
}


/* NEWS */
.publicaciones-blog-home {
    padding-bottom: 50px;
    background: url("") no-repeat fixed center center;
    background-size: 100% auto;
    background-color: #f1f1f1;
}

.publicaciones-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}

.publicaciones-blog-home h2 b {
    color: #343a40;
}

.publicaciones-blog-home .fondo-publicacion-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.publicaciones-blog-home .fondo-publicacion-home:hover h3 {
    color: #343a40;
    /*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}

.publicaciones-blog-home .fondo-publicacion-home:hover .mascara-enlace-blog-home {
    height: 400px;
    width: 100%;
    color: #aaa;
    background-color: #343a40;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.publicaciones-blog-home .black {
    background: #343a40;
}

.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
    height: 100%;
    width: auto;
}

.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}

.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home {
    padding: 0 10px;
}

.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home h3 {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-home {
    overflow: hidden;
    max-height: 180px;
}

.mascara-enlace-blog-home {
    height: 400px;
    width: 0;
    color: #aaa;
    background-color: #343a40;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}

.mascara-enlace-blog-home span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

.publicaciones-blog-home .todas-las-publicaciones-home {
    background: #343a40;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}

.publicaciones-blog-home .todas-las-publicaciones-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 26px;
}

@media (max-width: 768px) {
    .publicaciones-blog-home h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 34px;
        margin-top: 70px;
    }

    .publicaciones-blog-home .fondo-publicacion-home {
        background: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        height: inherit;
        margin-bottom: 20px;
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
    }

    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
        height: auto;
        width: 100%;
    }

    .publicaciones-blog-home .black {
        background: #fff;
    }

    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 10px;
    }

    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
        font-weight: 900;
        color: #333;
        text-transform: uppercase;
        font-size: 20px;
    }

    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
        color: #333;
        font-size: 14px;
        font-weight: 400;
    }

    .publicaciones-blog-home .todas-las-publicaciones-home {
        background: #343a40;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        border-radius: 3px;
    }
}


