{% extends "en_layout.html" %}

{% block content %}
<br>
<h1 class="h1-titles">ABOUT BREED</h1>
<br>
<!--STATISTIC-->
<div class="container-fluid">
    <h2 class="h2-titles">VITAL STATS</h2>
    <br>
    <div class="table-responsive">
        <table class="table w-50 text-center">
            <thead>
            <th>
                <img src="/static/images/info/icon-dog.png">
            </th>
            <th>
                <img src="/static/images/info/icon-heart-frequency.png">
            </th>
            <th>
                <img src="/static/images/info/icon-tape-measure.png">
            </th>
            <th>
                <img src="/static/images/info/icon-weighing-machine.png">
            </th>
            </thead>
            <thead class="navbar-dark">
            <th>DOG BREED GROUP</th>
            <th>LIFE SPAN</th>
            <th>HEIGHT</th>
            <th>WEIGHT</th>
            </thead>
            <tbody>
            <td>working dogs</td>
            <td>10 to 12 years</td>
            <td>dogs 62-70 cm <br>bitches 58-66 cm</td>
            <td>dogs 45-50 kg <br>bitches 40-45 kg</td>
            </tbody>
        </table>
    </div>
</div>

<!--PREDISPOSITION-->
<button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">BREED
    PREDISPOSITION
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">BREED PREDISPOSITION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <!-- ADAPTABILITY -->

                    <button type="button" class="btn btn-lg btn-block" data-toggle="collapse" data-target="#adapt">
                        <div class="row">
                            <div class="col-8 text-left">
                                <h4><i class="fa fa-plus-square" style="color: #8e8e8e"></i> ADAPTABILITY</h4>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-2x fa-paw"> </i>
                                <i class="fa fa-2x fa-paw"> </i>
                                <i class="fa fa-2x fa-paw"> </i>
                                <i class="fa fa-2x fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-2x fa-paw" style="color: #8e8e8e"> </i>
                            </div>
                        </div>
                    </button>
                    <div id="adapt" class="collapse">
                        <div class="row">
                            <div class="col-8 text-left">Good for novice owners</div>
                            <div class="col-4 text-right">
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 text-left">Tolerates being alone</div>
                            <div class="col-4 text-right">
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 text-left">Adapts well to apartment living</div>
                            <div class="col-4 text-right">
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 text-left">Sensitivity Level</div>
                            <div class="col-4 text-right">
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- AROUND FRIENDLINESS-->

                <button type="button" class="btn  btn-lg btn-block" data-toggle="collapse" data-target="#demo">
                    <div class="row">
                        <div class="col-8 text-left">
                            <h4><i class="fa fa-plus-square" style="color: #8e8e8e"></i> AROUND FRIENDLINESS</h4>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-2x fa-paw"> </i>
                            <i class="fa fa-2x fa-paw"> </i>
                            <i class="fa fa-2x fa-paw"> </i>
                            <i class="fa fa-2x fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-2x fa-paw" style="color: #8e8e8e"> </i>
                        </div>
                    </div>
                </button>
                <div id="demo" class="collapse">
                    <div class="row">
                        <div class="col-8 text-left">Adapts well to apartment living</div>
                        <div class="col-4 text-right">
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 text-left">Good for novice owners</div>
                        <div class="col-4 text-right">
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <br>
            </div>
        </div>
    </div>
</div>


<!--HISTORY ABOUT BREED-->
<br><br>

<h2 class="h2-titles">HISTORY</h2>
<div class="w-50 p-3 text-justify">
    <p>
        According to the breed standard of the Fédération Cynologique Internationale (FCI - International Canine
        Federation), the Cane Corso descends from the
        molossoid dogs of Ancient Rome; it was once distributed throughout much of the Italian peninsula, but in
        the
        recent past was found only in Puglia, in southern Italy. After the collapse of the mezzadria system of
        share-cropping in the 1960s, the dogs became rare. The modern breed derives from selective breeding from
        about
        1980 of a few surviving animals. A breed society, the Società Amatori Cane Corso, was formed in
        1983. The breed was recognised by the Ente Nazionale della Cinofilia Italiana (ENCI - National Entity of
        Italian
        Cynology) in 1994. It was provisionally accepted by the Fédération Cynologique Internationale in 1996,
        and
        received full acceptance in
        2007. It was recognised by the American Kennel Club of the United States in 2010.
    </p>
    <p>
        The word "cane" of course, is Latin for dog and derives from the word "canis". The word "corso" may come
        from
        "cohors", meaning bodyguard, or from "corsus" an old Italian word meaning sturdy or robust.
    </p>
</div>
<br>

<!--MAIN FEATURES-->
<div class="w-50 p-3 text-justify">
    <h2 class="h2-titles text-center">IF YOU'RE CONSIDERING CANE CORSO,<br> YOU SHOULD BE CONCERNED ABOUT:</h2>
    <br>
    <h4>1. YOU SHOULD PROVIDE PROPER BALANCE OF EXERCISE</h4>
    <p>
        Young Cane Corso need enough exercise to keep them lean and healthy, but not so much that their soft
        growing
        bones, joints, and ligaments become over-stressed and damaged. Adult Cane Corso need more exercise to
        keep
        them
        in shape, but not in hot or humid weather for fear of overheating. The proper amount of exercise can be
        difficult to regulate in giant breeds.
    </p>
    <div class="alert alert-warning">
        <p>
            BUT REMEMBER!
            <br>
            Since you need to minimize their exercise, young Cane Corso can be very rambunctious. They will romp
            with
            uncoordinated gawkiness all over your house. You need to substitute extra quantities of companionship
            and
            supervision during this trying time. Otherwise your young mastiff will become bored and destructive and
            his
            powerful jaws can literally destroy your living room.
        </p>
    </div>
    <br>
    <h4>2. YOU SHOULD PROVIDE ENOUGH SOCIALIZATION</h4>
    <p>
        Most Cane Corso have protective instincts toward strangers. They need extensive exposure to friendly
        people
        so
        they learn to recognize the normal behaviors of "good guys." Then they can recognize the difference when
        someone
        acts abnormally. Without careful socialization, they may be suspicious of everyone. Some Cane Corso go
        in
        the
        opposite direction -- without enough socialization, they become fearful of strangers, which could
        possibly
        lead
        to defensive biting.
    </p>
    <br>
    <h4>3. YOU SHOULD BE MINDFUL OF POTENTIAL AGGRESSION</h4>
    <p>
        Many Cane Corso will not tolerate another dog of the same sex, and some won't tolerate the opposite sex
        either.
        Some Cane Corso have strong instincts to chase and seize cats and other fleeing creatures. If anything
        goes
        wrong in the breeding, socializing, training, handling, or management of this breed, it is capable of
        seriously
        injuring or killing other animals.
    </p>
    <br>
    <h4>3. YOU SHOULD KNOW THAT CANE CORSO HAS VERY STRONG TEMPERAMENT</h4>
    <p>
        Though much more trainable than other mastiff breeds, Cane Corso have an independent mind of their own
        and
        are
        not pushovers to raise and train. Many Cane Corso are dominant (they want to be the boss) and will make
        you
        prove that you can make them do things. You must show them, through absolute consistency, that you mean
        what
        you
        say.
    </p>
    <div class="alert alert-warning">
        <p>
            BUT REMEMBER!
            <br>
            To teach your Cane Corso to listen to you, "Respect Training" is mandatory. My Cane Corso Training
            article
            discusses the program you need. Obedience training is essential! It will teach you to understand each
            other
            and
            respect the dog's needs
        </p>
    </div>
    <br>
    <h4>4. IF YOU'RE DISGUSTED WITH SALIVA, FORGET THE CANE CORSO!</h4>
    <p>
        Cane Corso with heavy jowls drool and slobber. Of course, somewhere are dogs, that don't drool at all.
        But
        to
        find such a dog is like winning the lottery.
    </p>
    <br>
    <h4>5. YOU SHOULD KNOW, THAT CANE CORSO IS PRONE TO DIFFERENT DISEASES</h4>
    <p>
        It is normal for any animal to become ill. However, in the cane corso, the most distinctive medical
        conditions
        are:
    </p>
    <ul>
        <li>
            Orthopedic diseases are rampant in the Cane Corso:
            <p>
                With 1300 hip X-rays evaluated by the Orthopedic Foundation of America, the Cane Corso has a 39%
                of
                hip
                dysplasia – the 13th worst rate of all breeds. And the true rate is even higher because most of
                the
                obviously bad X-rays were not sent in for official evaluation. Confirming this, the Cane Corso
                Coalition
                conducted a health survey that reported a horrible 58% hip dysplasia rate.
            </p>
            <p>
                Elbow dysplasia is also a major problem, with the OFA reporting a rate of 16% and the coalition
                survey
                reporting at least 22%.
            </p>
            <p>
                Other orthopedic health problems in the Cane Corso include panosteitis, osteochondritis,
                luxating
                patella, cruciate ligament rupture, and Wobbler's syndrome.
            </p>
        </li>
        <li>
            Heart disease (especially cardiomyopathy and mitral valve disease) is a serious concern in Cane
            Corso.
            18%
            of the Cane Corso in the Coalition survey had a heart disorder.
        </li>
        <br>
        <li>
            Epilepsy is another serious concern, with 16% of the Corso in the coalition survey affected by a
            seizure
            disorder.
        </li>
        <br>
        <li>
            With their deep chest, Cane Corso are at higher-than-normal risk for the emergency gastrointestinal
            syndrome
            called bloat.
        </li>
        <br>
        <li>
            Cancer claims the lives of many giant breeds, including Cane Corso.
        </li>
        <br>
        <li>
            About one in every three Cane Corso is affected by at least one eye disease. Most common are cherry
            eye,
            eyelid abnormalities (entropion and ectropion), and dry eye.
        </li>
        <br>
        <li>
            Skin diseases are common, especially allergies (often leading to pyoderma), which affects one in
            every
            four
            Cane Corso. Demodectic mange is very common in all mastiff breeds – 37% of the Cane Corso in the
            coalition
            survey were affected by demodex mites. Demodectic mange usually affects Cane Corso puppies and
            adolescents.
            Other health issues involving the skin are skin fold dermatitis, deep pyoderma, elbow hygroma, and
            chin
            folliculitis.
        </li>
        <br>
        <li>
            Hypothyroidism is common in all giant breeds, with up to 20% of Cane Corso affected. Colitis and
            blood-clotting disease (von Willebrand's) have been reported in Cane Corso.
        </li>
    </ul>
    <br>
    <h4>6. AND LAST, BUT MOST IMPORTANT!</h4>
    <p>
        Cane Corso may be targeted for "banning" in certain areas, or refusal of homeowner insurance policies.
        Your
        friends and neighbors may be uncomfortable around this breed. In this day and age, the legal liabilities
        of
        owning any breed that looks intimidating and has a history as a guard dog should be seriously
        considered.
        People
        are quicker to sue if such a dog does anything even remotely questionable.
    </p>
    <div class="alert alert-warning">
        <p>
            BUT REMEMBER!
            <br>
            Frankly, most Cane Corso are "too much dog" for the average household. Very few people really have the
            ability
            to manage this breed.
        </p>
    </div>
</div>

<div class="w-50 references">
    <p>REFERENCES</p>
    <p>FCI breeds nomenclature: Cane Corso Italiano (343). Fédération Cynologique Internationale. Accessed July
        2020</p>
    <p>Breed Standards: Cane Corso Italiano - United Kennel Club (UKC) Retrieved 4 February
        2019</p>
    <p>"Get to Know the Cane Corso" The American Kennel Club. Accessed July 2020</p>
    <p>www.dogtime.com</p>
    <p>www.yourpurebredpuppy.com</p>
</div>

{% endblock %}