{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">ABOUT US</h1>

    <!-- ABOUT US -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-3" style="background-color: white">
                <p style="text-align: justify; font-style: italic; padding: 10px">
                    For over 10 years I have been breeding Cane Corso Italiano dogs, associated in the Polish Kennel
                    Club. Since I remember dogs occupied a special place in my life. Hitting this breed, my life turned
                    upside down! From then on, I had one desire - to create a kennel out of love for dogs and the
                    passion that develops every day. Each time I select genes carefully so that the next generations of
                    dogs are worthy and healthy representatives of the breed. Strong, balanced dogs come out of my
                    kennel and they are wonderful members of their new families.
                </p>
                <p class="p-signature" style="text-align: right">Adriana Zukowska</p>
            </div>
            <div class="col-md-offset-0 col-md-5" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/main/1.jpg" alt="Card image"
                     style="margin-bottom: 10px; margin-top: 10px">
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}