{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">ABOUT BREED</h1>

    <!-- BODY-1 -->
    <div class="container">
        <div class="row">

            <!-- STATIC -->
            <div class="col-sm-4">
                <!--STATISTIC-->
                <div class="container-fluid">
                    <h2 class="h2-titles">VITAL STATS</h2>
                    <br>
                    <div class="table-responsive">
                        <table class="table w-auto p-3 text-center">
                            <thead>
                            <th>
                                <img src="/static/images/info/icon-dog.png">
                            </th>
                            <th>
                                <img src="/static/images/info/icon-heart-frequency.png">
                            </th>
                            <th>
                                <img src="/static/images/info/icon-tape-measure.png">
                            </th>
                            <th>
                                <img src="/static/images/info/icon-weighing-machine.png">
                            </th>
                            </thead>
                            <thead class="navbar-dark">
                            <th>DOG BREED GROUP</th>
                            <th>LIFE SPAN</th>
                            <th>HEIGHT</th>
                            <th>WEIGHT</th>
                            </thead>
                            <tbody>
                            <td>working dogs</td>
                            <td>10 to 12 years</td>
                            <td>dogs 62-70 cm <br>bitches 58-66 cm</td>
                            <td>dogs 45-50 kg <br>bitches 40-45 kg</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-offset-0 col-sm-4">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/1.jpg" width="350"
                     height="265">
            </div>

            <!-- IMPORTANT LINKS -->
            <div class="col-sm-offset-0 col-sm-4">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>

        <!-- BODY-2 -->
        <div class="row">

            <!--HISTORY ABOUT BREED-->
            <div class="col-sm-12">
                <h2 class="h2-titles">HISTORY</h2>
                <div class="w-auto p-3 text-justify" style="max-width: 1200px; margin-left: 5%; margin-right: 5%">
                    <p>
                        According to the breed standard of the Fédération Cynologique Internationale (FCI -
                        International Canine
                        Federation), the Cane Corso descends from the molossoid dogs of Ancient Rome; it was once
                        distributed
                        throughout much of the Italian peninsula, but in the recent past was found only in Puglia, in
                        southern
                        Italy. After the collapse of the mezzadria system of share-cropping in the 1960s, the dogs
                        became rare. The
                        modern breed derives from selective breeding from about 1980 of a few surviving animals. A breed
                        society,
                        the Società Amatori Cane Corso, was formed in 1983. The breed was recognised by the Ente
                        Nazionale della
                        Cinofilia Italiana (ENCI - National Entity of Italian Cynology) in 1994. It was provisionally
                        accepted by
                        the Fédération Cynologique Internationale in 1996, and received full acceptance in 2007. It was
                        recognised
                        by the American Kennel Club of the United States in 2010.
                    </p>
                    <p>
                        The word "cane" of course, is Latin for dog and derives from the word "canis". The word "corso"
                        may come
                        from "cohors", meaning bodyguard, or from "corsus" an old Italian word meaning sturdy or robust.
                    </p>
                </div>
            </div>

        </div>

        <!-- BODY-3 -->
        <div class="row">

            <!-- PHOTO -->
            <div class="col-sm-3">

            </div>

            <!-- CONSIDER -->
            <div class="col-sm-6">

            </div>

            <!-- PHOTO -->
            <div class="col-sm-3">

            </div>
        </div>

        <!-- BODY-4 -->
        <div class="row">

            <!-- REFERENCES -->
            <div class="col-sm-12">
                <div class="w-75 references">
                    <p>● REFERENCES</p>
                    <p>● FCI breeds nomenclature: Cane Corso Italiano (343). Fédération Cynologique Internationale.
                        Accessed July
                        2020</p>
                    <p>● Breed Standards: Cane Corso Italiano - United Kennel Club (UKC) Retrieved 4 February
                        2019</p>
                    <p>● "Get to Know the Cane Corso" The American Kennel Club. Accessed July 2020</p>
                    <p>● www.dogtime.com</p>
                    <p>●www.yourpurebredpuppy.com</p>
                </div>
            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>
{% endblock %}