{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">ABOUT US</h1>
    <br>
    {#    <!--QUOTES-->#}
    {#    <div class="row" style="max-width: 960px">#}
    {#        <div class="containerQuotes">#}
    {#            <blockquote class="quote-card" style="text-align: justify; font-style: italic">#}
    {#                <p>#}
    {#                    For over 10 years I have been breeding Cane Corso Italiano dogs, associated in the Polish Kennel#}
    {#                    Club (ZKwP), belonging to the International Kennel Federation (FCI). From an early age, animals#}
    {#                    occupied a special place in my life. Hitting this breed, my life turned upside down! From then#}
    {#                    on, I had one desire - to create a kennel out of love for dogs and the passion that develops#}
    {#                    every day. Each time I select genes carefully so that the next generations of dogs are worthy#}
    {#                    and healthy representatives of the breed. Strong, balanced dogs come out of my kennel and they#}
    {#                    are wonderful members of their new families.#}
    {#                </p>#}
    {##}
    {#                <cite style="text-align: center">#}
    {#                    Adriana Żukowska#}
    {#                </cite>#}
    {#            </blockquote>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container">
        <div class="card img-fluid" style="width:960px; border-radius: 10px">
            <img class="card-img-top" src="/static/images/main/1.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay" style="padding: 25px ">
                <div style="text-align: justify; font-style: italic; padding: 25px; background-color: white; opacity: 60%">
                    <p><strong>For over 10 years I have been breeding Cane Corso Italiano dogs, associated in the Polish Kennel
                        Club (ZKwP), belonging to the International Kennel Federation (FCI). From an early age, animals
                        occupied a special place in my life. Hitting this breed, my life turned upside down! From then
                        on, I had one desire - to create a kennel out of love for dogs and the passion that develops
                        every day. Each time I select genes carefully so that the next generations of dogs are worthy
                        and healthy representatives of the breed. Strong, balanced dogs come out of my kennel and they
                        are wonderful members of their new families.</strong></p>

                    <p style="text-align: right">
                        Adriana Żukowska
                    </p>
                </div>

            </div>
        </div>
    </div>


    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}