{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">ABOUT BREED</h1>


    <div class="container">
        <!-- BODY-1 -->
        <div class="row">
            <!-- STATIC -->
            <div class="col-sm-4" style="background-color: white">
                <div>
                    <h4 class="h4-titles">VITAL STATS</h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                            <th style="border-color: #9a9a9a">
                                <img class="mx-auto d-block" src="/static/images/info/icon-dog.png">
                            </th>
                            <th style="border-color: #9a9a9a">
                                <img class="mx-auto d-block" src="/static/images/info/icon-heart-frequency.png">
                            </th>
                            <th style="border-color: #9a9a9a">
                                <img class="mx-auto d-block" src="/static/images/info/icon-tape-measure.png">
                            </th>
                            <th style="border-color: #9a9a9a">
                                <img class="mx-auto d-block" src="/static/images/info/icon-weighing-machine.png">
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>DOG BREED<br>GROUP</td>
                                <td>LIFE SPAN<br>(in years)</td>
                                <td>HEIGHT<br>(in cm)</td>
                                <td>WEIGHT<br>(in kg)</td>
                            </tr>
                            <tr>
                                <td>working dogs</td>
                                <td>10 - 12</td>
                                <td><i class="fa fa-mars"></i> 62 - 70<br><i class="fa fa-venus"></i> 58 - 66</td>
                                <td><i class="fa fa-mars"></i> 45 - 50<br><i class="fa fa-venus"></i> 40 - 45</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-offset-0 col-sm-4"
                 style="background-color: white; padding-bottom: 10px; padding-top: 10px">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/1.jpg" width="350"
                         height="265">
                </div>
            </div>

            <div class="col-sm-4" style="background-color: white">

                <!-- BREED PREDISPOSITION -->
                <h4 class="h4-titles" style="text-align: center">BREED PREDISPOSITION</h4>

                <!-- ADAPTABILITY -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-left">
                            <a type="button" class="info" data-toggle="modal" data-target="#adapt">
                                <h5><i class="fa fa-plus-square" style="color: #8e8e8e"></i> ADAPTABILITY</h5>
                            </a>
                        </div>
                        <div class="col-6 text-right" style="font-size: 15px">
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                        </div>
                    </div>

                </div>

                <!-- ADAPTABILITY-MODAL -->
                <div class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true" id="adapt">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="h4-titles modal-title" id="exampleModalLongTitle">ADAPTABILITY</h4>
                                <div class="col-6 text-right">
                                    <i class="fa fa-paw" style="font-size: 22px"> </i>
                                    <i class="fa fa-paw" style="font-size: 22px"> </i>
                                    <i class="fa fa-paw" style="color: #8e8e8e; font-size: 20px"> </i>
                                    <i class="fa fa-paw" style="color: #8e8e8e; font-size: 20px"> </i>
                                    <i class="fa fa-paw" style="color: #8e8e8e; font-size: 20px;"> </i>
                                </div>
                            </div>

                            <!-- DATA -->
                            <div class="modal-body">
                                <div style="max-width: 500px">
                                    <div class="row">
                                        <div class="col-6 text-left">Good for novice owners</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Tolerates being alone</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Adapts well to apartment</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Sensitivity Level</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- AROUND FRIENDLINESS -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-left">
                            <a type="button" class="info" data-toggle="modal" data-target="#friend">
                                <h5><i class="fa fa-plus-square" style="color: #8e8e8e"></i> AROUND FRIENDLINESS</h5>
                            </a>
                        </div>
                        <div class="col-6 text-right" style="font-size: 15px">
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                        </div>
                    </div>

                </div>

                <!-- AROUND FRIENDLINESS-MODAL -->
                <div class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true" id="friend">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="h4-titles modal-title" id="exampleModalLongTitle">FRIENDLINESS</h4>
                                <div class="col-6 text-right">
                                    <i class="fa fa-paw" style="font-size: 22px"> </i>
                                    <i class="fa fa-paw" style="font-size: 22px"> </i>
                                    <i class="fa fa-paw" style="font-size: 20px"> </i>
                                    <i class="fa fa-paw" style="color: #8e8e8e; font-size: 20px"> </i>
                                    <i class="fa fa-paw" style="color: #8e8e8e; font-size: 20px;"> </i>
                                </div>
                            </div>

                            <!-- DATA -->
                            <div class="modal-body">
                                <div style="max-width: 500px">
                                    <div class="row">
                                        <div class="col-6 text-left">Affectionate with family</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Kid friendly</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Another friendly</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Friendly toward strangers</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- HEALTH AND GROOMING -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-left">
                            <a type="button" class="info" data-toggle="modal" data-target="#health">
                                <h5><i class="fa fa-plus-square" style="color: #8e8e8e"></i> HEALTH AND GROOMING</h5>
                            </a>
                        </div>
                        <div class="col-6 text-right" style="font-size: 15px">
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw"> </i>
                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                        </div>
                    </div>

                </div>

                <!-- HEALTH AND GROOMING-MODAL -->
                <div class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true" id="health">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="h4-titles modal-title" id="exampleModalLongTitle">HEALTH AND GROOMING</h4>
                                <div class="col-6 text-right">
                                    <i class="fa fa-paw" style="font-size: 22px"> </i>
                                    <i class="fa fa-paw" style="font-size: 22px"> </i>
                                    <i class="fa fa-paw" style="font-size: 20px"> </i>
                                    <i class="fa fa-paw" style="font-size: 20px"> </i>
                                    <i class="fa fa-paw" style="color: #8e8e8e; font-size: 20px;"> </i>
                                </div>
                            </div>

                            <!-- DATA -->
                            <div class="modal-body">
                                <div style="max-width: 500px">
                                    <div class="row">
                                        <div class="col-6 text-left">Amount of shedding</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Easy to groom</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">General Health</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-left">Potential for weight gain</div>
                                        <div class="col-6 text-right">
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw"> </i>
                                            <i class="fa fa-paw" style="color: #8e8e8e"> </i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <br>

        <!-- BODY-2 -->
        <div class="row" style="background-color: white">

            <!-- PHOTO -->
            <div class="col-sm-offset-0 col-sm-4"
                 style="background-color: white; padding-bottom: 10px; padding-top: 10px">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/4.jpg" width="350"
                         height="265">
                </div>
            </div>

            <!-- IMPORTANT LINKS -->
            <div class="col-sm-4" style="background-color: white">
                <h4 class="h4-titles">IMPORTANT LINKS</h4>
                <br>
                <div>
                    <p><a class="importandLinks" href="https://www.fci.be/Nomenclature/Standards/343g02-en.pdf"
                          target="_blank" style="color: #0b0c10"><i class="fa fa-check"></i> CANE CORSO STANDARD FCI</a>
                    </p>
                    <p><a class="importandLinks" href="http://www.fci.be/en/" target="_blank"
                          style="color: #0b0c10"><i class="fa fa-check"></i> OFFICIAL WEBSITE FCI</a></p>
                    <p><a class="importandLinks" href="https://english.zkwp.pl/main.english/index.html" target="_blank"
                          style="color: #0b0c10"><i class="fa fa-check"></i> ZKwP - POLISH KENNEL CLUB</a></p>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <img src="/static/images/about_breed/zkwp-fci-logo.png" height="100" width="200">
                        </div>
                    </div>
                </div>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-offset-0 col-sm-4"
                 style="background-color: white; padding-bottom: 10px; padding-top: 10px">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/5.jpg" width="350"
                         height="265">
                </div>
            </div>

        </div>
        <br>

        <!-- BODY-3 -->
        <div class="row">

            <!--HISTORY ABOUT BREED-->
            <div class="col-sm-12" style="background-color: white">
                <h4 class="h4-titles">HISTORY</h4>
                <div class="w-auto p-3 text-justify" style="max-width: 1200px; margin-left: 5%; margin-right: 5%">
                    <p>
                        According to the breed standard of the Fédération Cynologique Internationale (FCI -
                        International Canine
                        Federation), the Cane Corso descends from the molossoid dogs of Ancient Rome; it was once
                        distributed
                        throughout much of the Italian peninsula, but in the recent past was found only in Puglia, in
                        southern
                        Italy. After the collapse of the mezzadria system of share-cropping in the 1960s, the dogs
                        became rare. The
                        modern breed derives from selective breeding from about 1980 of a few surviving animals. A breed
                        society,
                        the Società Amatori Cane Corso, was formed in 1983. The breed was recognised by the Ente
                        Nazionale della
                        Cinofilia Italiana (ENCI - National Entity of Italian Cynology) in 1994. It was provisionally
                        accepted by
                        the Fédération Cynologique Internationale in 1996, and received full acceptance in 2007. It was
                        recognised
                        by the American Kennel Club of the United States in 2010.
                    </p>
                    <p>
                        The word "cane" of course, is Latin for dog and derives from the word "canis". The word "corso"
                        may come
                        from "cohors", meaning bodyguard, or from "corsus" an old Italian word meaning sturdy or robust.
                    </p>
                </div>
            </div>

        </div>
        <br>

        <!-- BODY-4 -->
        <div class="row">

            <!-- PHOTO -->
            <div class="col-sm-3" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/2.jpg" width="350"
                         height="265">
                </div>
            </div>

            <!-- CONSIDER -->
            <div class="col-sm-6">

            </div>

            <!-- PHOTO -->
            <div class="col-sm-3" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/3.jpg" width="350"
                         height="265">
                </div>
            </div>

        </div>
        <br>

        <!-- BODY-5 -->
        <div class="row">

            <!-- REFERENCES -->
            <div class="col-sm-12" style="background-color: white">
                <div class="references" style="text-align: left">
                    <p>REFERENCES</p>
                    <p>● FCI breeds nomenclature: Cane Corso Italiano (343). Fédération Cynologique Internationale.
                        Accessed July
                        2020</p>
                    <p>● Breed Standards: Cane Corso Italiano - United Kennel Club (UKC) Retrieved 4 February
                        2019</p>
                    <p>● "Get to Know the Cane Corso" The American Kennel Club. Accessed July 2020</p>
                    <p>● www.dogtime.com</p>
                    <p>●www.yourpurebredpuppy.com</p>
                </div>
            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}
