{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">BREEDING BITCHES</h1>

    <div class="table-responsive">
        <table class="table-responsive-stack">
            <tr>

                <!-- SALMA -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/breeding_bitches/1_salma.jpg"
                             width="350" height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">SALMA</span><small>EKSTAZA Del-Orte</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>SALMA</h2>
                            <a class="info" href="en_salma">SEE MORE</a>
                        </div>
                    </div>
                </td>

                <!-- ZOJA -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/breeding_bitches/2_zoja.jpg"
                             width="350" height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">ZOJA</span> <small>TESSA Barbero's Crew</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>ZOJA</h2>
                            <a class="info" href="en_zoja">SEE MORE</a>
                        </div>
                    </div>
                </td>

                <!-- JAGA -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/breeding_bitches/3_jaga.jpg"
                             width="350" height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">JAGA</span> <small>PANDORA Del-Orte</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>JAGA</h2>
                            <a class="info" href="en_jaga">SEE MORE</a>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}