{% extends "en_layout.html" %}

{% block content %}

<h1>BREEDING BITCHES</h1>

<div>
    <table class="littersTable">
        <tr>
            <td class="littersCell"><a href="en_salma">
                <h3>SALMA</h3>
                <p>EKSTAZA Del-Orte </p>
                <img src="/static/images/breeding_bitches/1_salma.jpg" width="350" height="265"></a>
            </td>
             <td class="littersCell"><a href="en_zoja">
                <h3>ZOJA</h3>
                <p>TESSA Barbero's Crew</p>
                <img src="/static/images/breeding_bitches/2_zoja.jpg" width="350" height="265"></a>
            </td>
              <td class="littersCell"><a href="en_jaga">
                <h3>JAGA</h3>
                <p>PANDORA Del-Orte</p>
                <img src="/static/images/breeding_bitches/3_jaga.jpg" width="350" height="265"></a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}