{% extends "en_layout.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="h1-titles text-center">CONTACT US</h1>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <form action="https://submit-form.com/3TlcJIZD">
                                    <div class="form-group row">
                                        <h5 class="text-center"><strong>Do you have any questions? Please do not
                                            hesitate to
                                            contact us directly. We will contact you to provide any answers!</strong>
                                        </h5>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="name ">
                                                Your name:<br><input size="41" type="text" id="name " name="name"
                                                                     placeholder="name" required="">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="email">
                                                Your email:<br><input size="41" type="email" id="email" name="email"
                                                                      placeholder="email" required="">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="message">
                                                Your message:<br><textarea cols="42" rows="10" id="message"
                                                                           name="message" placeholder="message"
                                                                           required=""></textarea>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <button class="btn">SEND</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                                <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-3">
                                    <h5><strong>YOU CAN ALSO REACH US VIA</strong></h5>
                                </div>
                                <br>
                                <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-3">
                                    <a href="https://www.facebook.com/dwieskalyfci"
                                       class="btn btn-outline-dark btn-lg"><span
                                            class="fa fa-2x fa-facebook"></span></a>
                                    <a> </a>
                                    <a href="https://www.instagram.com/explore/locations/1711412579097979/cane-corso-hodowla-dwie-skay-fci?hl=pl"
                                       class="btn btn-outline-dark btn-lg"><span
                                            class="fa fa-2x fa-instagram"></span></a>
                                </div>
                                <br><br>
                                <br><br>
                                <br><br>
                                <br>
                                <div class="col-md-8 col-md-offset-2">
                                    <h4>POLAND</h4>
                                    <p>.......</p>
                                    <p>.......</p>
                                    <p>.......</p>
                                    <p>Phone: +48 606 941 770</p>
                                    <p>E-mail: <a href="mailto:adriaszek@gmail.com">adriaszek@gmail.com</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'PT Sans', sans-serif;
    }

    .container {
        color: #343a40;
        background: url("/static/images/info/contact-1a.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 800px;

    }

    .container-fluid {


    }

    hr {
        border: 1px solid #354458;
    }

    .panel {
        margin-top: 50px;
        margin-right: 10px;
    }

    .col-md-8 > button {
        display: block;
        margin: auto;
    }

    .social > a {
        width: 100%;
    }
</style>


{% endblock %}