{% extends "en_layout.html" %}

{% block content %}
<br><br><br><br>
<form action="en_litters">
    <button class="btn">PREVIOUS PAGE</button>
</form>

<h1>LITTER J</h1>
<p>D.O.B - <strong>18.03.2021</strong></p>
<p>o: <strong>U-GREY Del-Orte M.L.  </strong>(CHIBS TELFORD Del-Orte M.L. x DUALENAS DUNNIT Del-Orte M.L.)</p>
<p>HD-A ED-0 tests 5/5</p>
<p>m: <strong>PANDORA Del-Orte M.L. </strong>(Ollada Arlekin SHEDDEN x AMAZING GIRL Del-Orte M.L.)</p>
<p>HD-A ED-0 tests 5/5</p>
<br>
<div>
    <table class="littersTable">
        <tr>
            <td class="littersCell">
                <img src="/static/images/litters/j/1.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/j/2.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/j/3.jpg" width="350" height="265">
            </td>
        </tr>
        <tr>
            <td class="littersCell">
                <img src="/static/images/litters/j/4.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/j/5.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/j/6.jpg" width="350" height="265">
            </td>
        </tr>
    </table>
</div>
<br>
<br>
{% endblock %}
