{% extends "en_layout.html" %}

{% block content %}
<form action="en_litters">
    <button class="btn">PREVIOUS PAGE</button>
</form>

<h1>LITTER N</h1>
<p>D.O.B - <strong>08.08.2019</strong></p>
<p>o: <strong>EKSTERMINATOR Del-Orte </strong></p>
<p></p>
<p>m: <strong>EKSTAZA Del-Orte</strong></p>
<p></p>
<br>
<div>
    <table class="littersTable">
        <tr>
            <td class="littersCell">
                <img src="/static/images/litters/n/1.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/n/2.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/n/3.jpg" width="350" height="265">
            </td>
        </tr>
    </table>
</div>
<br>
<br>
{% endblock %}
