{% extends "en_layout.html" %}

{% block content %}
<br>

<form action="en_litters">
    <button class="btn btn-outline-dark btn-sm">PREVIOUS PAGE</button>
</form>
<br>
<div class="table-responsive">
    <table class="table-responsive-stack">
        <tr>
            <td class="littersCell">
                <div class="text-center">
                    <h1>LITTER N</h1>
                    <p>D.O.B - <strong>10.02.2013</strong></p>
                    <p>o: <strong>EKSTERMINATOR Del-Orte </strong></p>
                    <p></p>
                    <p>m: <strong>EKSTAZA Del-Orte</strong></p>
                    <p></p>
                </div>
            </td>
            <td>
                <img class="img-responsive img-thumbnail" id="myImg"
                     src="/static/images/litters/n/pres.jpg" alt=""
                     style="width:100%;max-width:350px">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </td>
        </tr>
    </table>
</div>


<br>

<div class="table-responsive">
    <table class="table-responsive-stack">
        <tr>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/n/1.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/n/2.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/n/3.jpg" width="350" height="265">
            </td>
        </tr>
    </table>
</div>

<br>
<br>
{% endblock %}
