{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">LITTERS</h1>

    <div class="table-responsive">
        <table class="table-responsive-stack">
            <tr>

                <!-- LITTER J -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/litters/j/pres.jpg" width="350"
                             height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">LITTER J</span><small> d.o.b 18.03.2021</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>LITTER J</h2>
                            <a class="info" href="en_litter_j">SEE MORE</a>
                        </div>
                    </div>
                </td>

                <!-- LITTER M -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/litters/m/pres.jpg" width="350"
                             height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">LITTER M</span><small> d.o.b 08.08.2019</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>LITTER M</h2>
                            <a class="info" href="en_litter_m">SEE MORE</a>
                        </div>
                    </div>
                </td>

                <!-- LITTER B -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/litters/b/pres.jpg" width="350"
                             height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">LITTER B</span><small> d.o.b 28.03.2018</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>LITTER B</h2>
                            <a class="info" href="en_litter_b">SEE MORE</a>
                        </div>
                    </div>
                </td>

            </tr>

            <tr>

                <!-- LITTER E -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/litters/e/pres.jpg" width="350"
                             height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">LITTER E</span><small> d.o.b 19.02.2017</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>LITTER E</h2>
                            <a class="info" href="en_litter_e">SEE MORE</a>
                        </div>
                    </div>
                </td>

                <!-- LITTER A -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/litters/a/pres.jpg" width="350"
                             height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">LITTER A</span><small> d.o.b 05.02.2017</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>LITTER A</h2>
                            <a class="info" href="en_litter_a">SEE MORE</a>
                        </div>
                    </div>
                </td>

                <!-- LITTER N -->
                <td class="littersCell" style="height: 350px; background-color: white">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail" src="/static/images/litters/n/pres.jpg" width="350"
                             height="265">
                        <div>
                            <h4 class="text-left"><span class="h4-titles">LITTER N</span><small> d.o.b 10.02.2013</small></h4>
                        </div>
                        <div class="overlay">
                            <h2>LITTER N</h2>
                            <a class="info" href="en_litter_n">SEE MORE</a>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}