{% extends "en_layout.html" %}

{% block content %}

<h1>LITTERS</h1>
<div>
    <table class="littersTable">
        <tr>
            <td class="littersCell"><a href="litter_a">
                <h3>LITTER A</h3>
                <img src="/static/images/litters/a/pres.jpg" width="350" height="265"></a>
            </td>
            <td class="littersCell"><a href="litter_m">
                <h3>LITTER M</h3>
                <img src="/static/images/litters/m/pres.jpg" width="350" height="265"></a></td>
            <td class="littersCell"><a href="litter_n.html">
                <h3>LITTER N</h3>
                <img src="/static/images/litters/n/pres.jpg" width="350" height="265"></a></td>
        </tr>
        <tr>
            <td class="littersCell"><a href="litter_b">
                <h3>LITTER B</h3>
                <img src="/static/images/litters/b/pres.jpg" width="265" height="350"></a>
            </td>
            <td class="littersCell"><a href="litter_j.html">
                <h3>LITTER J</h3>
                <img src="/static/images/litters/j/pres.jpg" width="265" height="350"></a>
            </td>
        </tr>
    </table>

</div>
{% endblock %}