{% extends "en_layout.html" %}

{% block content %}
<br>

<form action="en_litters">
    <button class="btn btn-outline-dark btn-sm">PREVIOUS PAGE</button>
</form>
<br>
<div class="table-responsive">
    <table class="table-responsive-stack" >
        <tr>

            <!-- INTRODUCTION -->
            <td class="littersCell">
                <div class="text-center">
                    <h3>LITTER J</h3>
                    <p>D.O.B - <strong>18.03.2021</strong></p>
                    <p>o: <strong>U-GREY Del-Orte M.L. </strong>
                        <br>
                        (CHIBS TELFORD Del-Orte M.L. x DUALENAS DUNNIT Del-Orte M.L.)</p>
                    <p>HD-A ED-0 tests 5/5</p>
                    <p>m: <strong>PANDORA Del-Orte M.L. </strong>
                        <br>
                        (Ollada Arlekin SHEDDEN x AMAZING GIRL Del-Orte M.L.)</p>
                    <p>HD-A ED-0 tests 5/5</p>
                </div>
            </td>

            <!-- ANNOUNCEMENT OF A LITTER -->
            <td class="center">
                <br>
                <img class="img-responsive img-thumbnail" id="myImg"
                     src="/static/images/litters/j/pres.jpg" alt=""
                     style="width:100%;max-width:350px">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01" src="">
                    <div id="caption"></div>
                </div>
            </td>
        </tr>
    </table>
</div>


<br>
<div class="table-responsive">
    <table class="table-responsive-stack">
        <tr>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/j/1.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/j/2.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/j/3.jpg" width="350" height="265">
            </td>
        </tr>
        <tr>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/j/4.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/j/5.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img class="img-responsive img-thumbnail" src="/static/images/litters/j/6.jpg" width="350" height="265">
            </td>
        </tr>
    </table>
</div>
<br>
<br>
{% endblock %}
