{% extends "en_layout.html" %}

{% block content %}
<br>

<h1 class="h1-titles">LITTERS</h1>
<div class="table-responsive">
    <table class="table-responsive-stack">
        <tr>

            <td class="littersCell">
                <div class="hoverEffect">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/j/pres.jpg" width="350"
                         height="265">
                    <div class="overlay">
                        <h2>LITTER J</h2>
                        <a class="info" href="en_litter_j">SEE MORE</a>
                    </div>
                </div>
            </td>

            <td class="littersCell">
                <div class="hoverEffect">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/m/pres.jpg" width="350" height="265">
                    <div class="overlay">
                        <h2>LITTER M</h2>
                        <a class="info" href="en_litter_m">SEE MORE</a>
                    </div>
                </div>
            </td>

            <td class="littersCell">
                <div class="hoverEffect">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/b/pres.jpg" width="350" height="265">
                    <div class="overlay">
                        <h2>LITTER B</h2>
                        <a class="info" href="en_litter_b">SEE MORE</a>
                    </div>
                </div>
            </td>

        </tr>

        <tr>

            <td class="littersCell">
                <div class="hoverEffect">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/e/pres.jpg" width="350" height="265">
                    <div class="overlay">
                        <h2>LITTER E</h2>
                        <a class="info" href="en_litter_e">SEE MORE</a>
                    </div>
                </div>
            </td>

            <td class="littersCell">
                <div class="hoverEffect">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/a/pres.jpg" width="350" height="265">
                    <div class="overlay">
                        <h2>LITTER A</h2>
                        <a class="info" href="en_litter_a">SEE MORE</a>
                    </div>
                </div>
            </td>

            <td class="littersCell">
                <div class="hoverEffect">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/pres.jpg" width="350" height="265">
                    <div class="overlay">
                        <h2>LITTER N</h2>
                        <a class="info" href="en_litter_n">SEE MORE</a>
                    </div>
                </div>
            </td>

        </tr>
    </table>
</div>

{% endblock %}