<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 350px;
    height: 265px;
  }
  </style>
    <title>DWIE SKAŁY - CANE CORSO KENNEL</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/en_main_page"><i class="fa fa-home" aria-hidden="true"></i> HOME</a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/en_news">NEWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en_exhibitions">EXHIBITIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en_breeding_bitches">BREEDING BITCHES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en_litters">LITTERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en_about_breed">ABOUT BREED</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en_about_us">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en_contact">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/pl_main_page"><i class="em em-flag-pl" aria-role="presentation"
                                                        aria-label="Poland Flag"></i></a>
        </form>
    </div>
</nav>

<div class="center">
    {% block content %}
    {% endblock %}
</div>

</body>
<div class="footer bg-dark">
    <footer>
        <br>
        Copyright 2021 by
        <img src="/static/images/info/ik_logo.png" alt="logo" height="20" width="20">
        All rights reserved
    </footer>
</div>
</html>