{% extends "en_layout.html" %}

{% block content %}
<br><br><br><br>
<form action="en_litters">
    <button class="btn">PREVIOUS PAGE</button>
</form>

<h1>LITTER B</h1>
<p>D.O.B - <strong>28.03.2018</strong></p>
<p>o: <strong>Liberty Space INDEVOR TO BE BEAUTIFUL </strong>(AKELLA Iz Dynastii Championov x Libety Space GREMMI FOR
    CHAMPION DYNASTY)</p>
<p>HD-A tests 5/5</p>
<p>m: <strong>TESSA Barbero's Crew </strong>(Murano Sangue Magnifica x Fortune From Russian Traditions)</p>
<p>HD-A ED-0 tests 5/5</p>
<br>
<div>
    <table class="littersTable">
        <tr>
            <td class="littersCell">
                <img src="/static/images/litters/b/1.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/b/2.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/b/3.jpg" width="350" height="265">
            </td>
        </tr>
        <tr>
            <td class="littersCell">
                <img src="/static/images/litters/b/4.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/b/5.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/b/6.jpg" width="350" height="265">
            </td>
        </tr>
    </table>
</div>
<br>
<br>
{% endblock %}
