{% extends "layout.html" %}

{% block content %}

<h1>ENGLISH PAGE</h1>

<div>
    <ul>
        <li>
            <a href="/en_news">NEWS</a>
        </li>
        <li>
            <a href="/en_exhibitions">EXHIBITIONS</a>
        </li>
        <li>
            <a href="/en_breeding_bitches">BREEDING BITCHES</a>
        </li>
        <li>
            <a href="/en_litters">LITTERS</a>
        </li>
         <li>
            <a href="/en_contact">CONTACT</a>
        </li>
    </ul>
</div>

<form action="/">
    <button>BACK TO MAIN PAGE</button>
</form>

{% endblock %}