{% extends "en_layout.html" %}

{% block content %}

    <section class="publicaciones-blog-home">
        <div class="container">
            <div class="">
                <h2>News in Our Kennel</h2>
                <div class="row-page row">

                    <!-- NEW PUPPIES 18/03/2021 -->
                    <div class="col-page col-sm-8 col-md-6">
                        <a href="/en_litter_j" class="black fondo-publicacion-home">
                            <div class="img-publicacion-principal-home">
                                <img class="" src="/static/images/news/new_puppies_18032021/1.jpg">
                            </div>
                            <div class="contenido-publicacion-principal-home">
                                <br>
                                <h3>We've got puppies!</h3>
                                <br>
                                <br>
                                <p  style="text-align: justify">We are pleased to announce that on 18 March 2021, we welcomed puppies to the world.
                                   We have 5 boys and 2 girls. Toddlers and mom are doing great!</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-page col-sm-4 col-md-3">
                        <a href="" class="fondo-publicacion-home">
                            <div class="img-publicacion-home">
                                <img class="img-responsive"
                                     src="">
                            </div>
                            <div class="contenido-publicacion-home">
                                <h3>NEWS 2</h3>
                                <p>....</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-page col-sm-4 col-md-3">
                        <a href="" class="fondo-publicacion-home">
                            <div class="img-publicacion-home">
                                <img class="img-responsive"
                                     src="">
                            </div>
                            <div class="contenido-publicacion-home">
                                <h3>NEWS 3</h3>
                                <p>...</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-page col-sm-4 col-md-3">
                        <a href="" class="fondo-publicacion-home">
                            <div class="img-publicacion-home">
                                <img class="img-responsive"
                                     src=""">
                            </div>
                            <div class="contenido-publicacion-home">
                                <h3>NEWS 4</h3>
                                <p>...</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE </span>
                            </div>
                        </a>
                    </div>

                    <div class="hidden-sm col-page col-sm-4 col-md-3">
                        <a href="" class="fondo-publicacion-home">
                            <div class="img-publicacion-home">
                                <img class="img-responsive"
                                     src="">
                            </div>
                            <div class="contenido-publicacion-home">
                                <h3>NEWS 5</h3>
                                <p>...</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE </span>
                            </div>
                        </a>
                    </div>

                    <div class="hidden-sm col-page col-sm-4 col-md-3">
                        <a href="" class="fondo-publicacion-home">
                            <div class="img-publicacion-home">
                                <img class="img-responsive"
                                     src="">
                            </div>
                            <div class="contenido-publicacion-home">
                                <h3>NEWS 6</h3>
                                <p>...</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-page col-sm-4 col-md-3">
                        <a href="/en_news" class="todas-las-publicaciones-home">
                            <span>BACK TO TOP</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>



{% endblock %}