{% extends "en_layout.html" %}

{% block content %}
<br><br><br><br>
<form action="en_breeding_bitches">
    <button class="btn">PREVIOUS PAGE</button>
</form>

<h1>SALMA</h1>
<h2>EKSTAZA Del-Orte</h2>
<img class="img-responsive img-thumbnail" id="myImg" src="/static/images/breeding_bitches/salma/pedigree.JPG" alt=""
     style="width:100%;max-width:350px">
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<br>
<br>
{% endblock %}
