{% extends "en_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">WORKING CANE CORSO</h1>

    <!-- PREVIOUS BUTTON -->

    <form action="en_about_breed" style="margin-top: 10px; margin-bottom: 10px">
        <button class="btn btn-dark btn-sm">PREVIOUS PAGE</button>
    </form>

    <div class="container">
        <!-- BODY-1 -->
        <div class="row" style="background-color: white">

            <!-- PAST CANE CORSO -->
            <div class="col-sm-4" style="background-color: white">
                <h4 class="h4-titles">Working dog used to be...</h4>
                <p style="text-align: justify">
                    Originally, Cane Corsos were used in war zones where they would be used in many attack efforts. Some
                    dogs would be outfitted with buckets of flammable fluids and sent charging through enemy lines
                    carrying flames to subdue or distract the enemy just before a ground attack. Some dogs were trained
                    to attack enemies in battle, sometimes even sent wearing collars with spikes and knives around their
                    necks and ankles. When the Western Empire fell apart, the remaining dogs slipped into more
                    civilian-related job roles and were a common sight across the countrysides of Italy. These dogs were
                    used for hunting, to protect and drive livestock, to patrol farms and vineyards, and of course, to
                    serve as loyal guardians of their owners and their properties.
                </p>
                <p style="text-align: justify">
                    No one and nothing can fool genetics. Most of the ancient features of the breed are still visible
                    today. Cane
                    Corso was, is and will be a working dog!
                </p>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white; margin: auto">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/1.jpg"
                         width="350" height="265">
                </div>
            </div>

            <!-- NOW CANE CORSO -->
            <div class="col-sm-4" style="background-color: white">
                <h4 class="h4-titles">...and now dog is: </h4>
                <p style="text-align: justify">
                    These days, the Cane Corso may be most known as a loyal and serving family dog with its cooly
                    competent personality and confidently willful demeanor, but this breed is still hard at work beyond
                    being just a beloved pet companion. Cane Corsos are also still highly prized for their working
                    capabilities and are used in several different fields because of their natural-born abilities.
                </p>
                <br>
                <h4 class="h4-titles">For security reasons, please remember!</h4>
                <p style="text-align: justify">
                    When undertaking work with a dog,<strong>ALWAYS</strong> use experienced and recommended trainers
                    who know the specifics of the breed. Never do it on your own, it may do more harm than good.

                </p>
            </div>

        </div>
        <br>

        <!-- BODY-1A -->
        <div class="row">

            <!-- IMPORTANT -->
            <div class="col-sm-12" style="background-color: white">
                <h4 class="h4-titles">If you're looking for a happy puppy, the Cane Corso isn't the breed for you.</h4>
            </div>

        </div>
        <br>

        <!-- BODY-2 -->
        <div class="row" style="background-color: white">

            <!-- DOGGY WORKER -->
            <div class="col-sm-6" style="background-color: white">
                <h4 class="h4-titles">DOGGY WORKER</h4>
                <p style="text-align: justify">
                    Historically, the Cane Corso was trained to work with night watchmen as an added layer of protection
                    during overnight surveillance efforts. The nightwatchman could send the dog out to secure the
                    perimeter of the property being watched without leaving their own station or another area that
                    needed to be scrutinized
                </p>
                <p style="text-align: justify">
                    Some farmers only use their Corso at certain times of the workday, such as rounding up a herd of
                    cattle for milking or surveying for predators before locking up housing facilities, and the dog
                    retreats to being the typical family pet or household guardian the rest of their day.
                </p>
                <p style="text-align: justify">
                    Numerous owners seek out a Cane Corso because of their notoriety as a guardian breed. Unlike many
                    other guardian breeds, they are not instinctively going to attack for no reason if they are not
                    provoked to do so. The dogs tend to sense an owner’s uneasiness when a foe is around, so they will
                    be on high alert as a protector should if something about a situation is amiss. Their sense of
                    perception is highly regarded among Cane Corso enthusiasts because there are times the dog will
                    sense danger before an owner realizes something is wrong.
                </p>
                <p style="text-align: justify">
                    Corsos are such a popular guardian breed that there are multiple dog trainers who specialize in
                    helping owners with a Cane Corso who want their dog to be specifically trained as a protector. For
                    example, if you are a high-profile individual and want the Corso to be a guardian by your side
                    during public outings or you want the dog to act as a protective guardian for your child, this breed
                    easily takes up to this form of instruction. Through professional training and development, these
                    dogs can be almost as instinctively effective at guardianship as a physical bodyguard.
                </p>

            </div>

            <!-- HOME PET -->
            <div class="col-sm-6" style="background-color: white">
                <h4 class="h4-titles">HOME PET</h4>
                <p style="text-align: justify">
                    Despite taking a dog as a pet, we have no influence on its predispositions and genes. We can never
                    be sure when our dog's instincts will act unexpectedly. We have no guarantee that one day the dog
                    will not make a decision by itself and something terrible will happen. Therefore, training is
                    recommended from the puppy - even through play. If they don't have a purpose (guarding, dog sports,
                    herd aid / livestock protection) they get bored quickly and become destructive. Their minds need to
                    be busy, focused on the guide and the task to be done, otherwise they will dig huge holes in your
                    garden and destroy your favorite shoes.
                </p>
                <p style="text-align: justify">
                    These dogs have a certain aura around them. It'll amaze everyone they meet. Despite all the
                    energy their large bodies contain, they are able to stay in control and behave regal at all times -
                    training and constant work with the dog is a prerequisite - yes, training through play is also work!
                    All the energy put into the upbringing and positioning of the dog, as well as the time devoted to
                    him pay off with one thing - a great dog.
                </p>
                <p style="text-align: justify">
                    Like any watchdog, the Cane Corso has a powerful physique. These dogs bark little, but they are
                    respectful with their appearance. Cane Corsos are very focused on keeping an eye on the people they
                    love. They look after their herd - the family they belong to, but they need a guide - a person who
                    will set the boundaries, but at the same time ensure safety. There is a reason they are referred to
                    as "one master's dog".
                </p>
                <p style="text-align: justify">
                    When their caring responsibilities end overnight, they become big babies who want to be cuddled!
                </p>
            </div>

        </div>
        <br>

        <!-- BODY-3 -->
        <div class="row" style="background-color: white; padding: 20px">

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/2.jpg"
                     width="350" height="265">
                <p></p>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/4.jpg"
                     width="350" height="265">
                <p></p>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/3.jpg"
                     width="350" height="265">
                <p></p>
            </div>

        </div>
        <br>

        <!--BODY-4 -->
        <div class="row" style="background-color: white; padding: 20px">
            <h4 class="h4-titles">NIKIFOR Dwie Skaly</h4>
            <div class="col-sm-6" style="background-color: white">
                aaaaaaaaaaaaaa
            </div>

            <div class="col-sm-6" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-1.jpg"
                         width="450" height="365">
                </div>
            </div>

        </div>
        <div class="row" style="background-color: white; padding: 20px">
            <div class="col-sm-6" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-2.jpg"
                         width="450" height="365">
                </div>
            </div>

            <div class="col-sm-6" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-3.jpg"
                         width="450" height="365">
                </div>
            </div>

        </div>
        <br>

        <!-- BODY-5 -->
        <div class="row">

            <!-- REFERENCES -->
            <div class="col-sm-12" style="background-color: white">
                <div class="references" style="text-align: left">
                    <p>REFERENCES</p>
                    <p>● www.breedingbusiness.com</p>
                    <p>● www.phoghavencanecorso.com</p>
                    <p>● www.acelenakliye.com</p>
                    <p>● </p>
                    <p>● </p>
                </div>
            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}