<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/images" type="image">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>DWIE SKAŁY - CANE CORSO KENNEL</title>
</head>
<body>
{% block content %}

<div class="centerIndex">
    <img src="/static/images/logo-dwie-skaly.png" alt="logo" width="448" height="275">
    <div class="flagStyle">
        <div class="flagStyle-2">
{#            <form action="/pl_main_page">#}
{#                <a href="/pl_main_page"><i class="em em-flag-pl" aria-role="presentation" aria-label="Poland Flag"></i></a>#}
{#            </form>#}
        </div>
        <div class="flagStyle-2">
            <form action="/en_main_page">
                <a href="/en_main_page"><i class="em em-gb" aria-role="presentation"
                                           aria-label="United Kingdom Flag"></i></a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
</body>