{% extends "en_layout.html" %}

{% block content %}

<h1>LITTER A</h1>
<p>D.O.B - <strong>05.02.2017</strong></p>
<p>o: <strong>:Moi Legioner OPTIMUS PRIME FOR DEL ORTE </strong></p>
<p>HD-A ED-0 tests 5/5</p>
<p>m: <strong>EKSTAZA Del-Orte</strong></p>
<p>HD-A tests 5/5</p>
<br>
<div>
    <table class="littersTable">
        <tr>
            <td class="littersCell">
                <img src="/static/images/litters/a/1.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/a/2.jpg" width="350" height="265">
            </td>
            <td class="littersCell">
                <img src="/static/images/litters/a/3.jpg" width="350" height="265">
            </td>
        </tr>
    </table>
</div>
<br>
<br>
{% endblock %}
