{% extends "pl_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">O NAS</h1>

    <!-- ABOUT US -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-3" style="background-color: white">
                <p style="text-align: justify; font-style: italic; padding: 10px">
                    Od ponad 10 lat hoduję psy rasy Cane Corso Italiano, zrzeszone w Związku Kynologicznym w Polsce.
                    Odkąd pamiętam psy zajmowały w moim życiu szczególne miejsce. Poznając tę rasę, moje życie
                    wywróciło się do góry nogami! Odtąd miałam jedno pragnienie - stworzyć hodowlę z miłości do psów i
                    pasji, która rozwija się każdego dnia. Za każdym razem starannie dobieram geny, aby kolejne
                    pokolenia psów były godnymi i zdrowymi przedstawicielami rasy. Z mojej hodowli pochodzą silne,
                    zrównoważone psy, które są wspaniałymi członkami swoich nowych rodzin.
                </p>
                <p class="p-signature" style="text-align: right">Adriana Zukowska</p>
            </div>
            <div class="col-md-offset-0 col-md-5" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/main/1.jpg" alt="Card image"
                     style="margin-bottom: 10px; margin-top: 10px">
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}