{% extends "pl_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">MIOT N</h1>

    <!-- INTRODUCTION -->
    <div class="table-responsive" style="height:auto; background-color: white">
        <table class="table-responsive-stack">
            <tr>
                <td class="littersCell" style="height: 260px">
                    <div class="text-center">
                        <br>
                        <p>data urodzenia - <strong>10.02.2013</strong></p>
                        <p>o: <strong>EKSTERMINATOR Del-Orte </strong>
                            <br>
                            (BACARA X UMBRA Del-Orte</p>
                        <p>HD-B testy 5/5</p>
                        <p>m: <strong>EKSTAZA Del-Orte</strong>
                            <br>
                            (TYSON x OMEGA BLUE Del-Orte M.L)</p>
                        <p>HD-A testy 5/5</p>
                    </div>
                </td>

                <!-- PRES -->
                <td class="littersCell" style="height: 350px">
                    <div class="hoverEffect">
                        <img class="img-responsive img-thumbnail"
                             src="/static/images/litters/n/pres.jpg"
                             width="350" height="265">
                        <div class="overlay" style="height: 95%">
                            <h2>ZAPOWIEDŹ MIOTU N</h2>
                            <a class="info btn  btn-dark btn-sm" href="#pres" data-target="#pres"
                               data-toggle="modal">ZOBACZ WIĘCEJ..</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>

    <!-- CAROUSEL -->
    <div style="max-width: 750px">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/1.jpg"
                         style="width: 100%; height: 100%">
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/2.jpg"
                         style="width: 100%; height: 100%">
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/3.jpg"
                         style="width: 100%; height: 100%">
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/4.jpg"
                         style="width: 100%; height: 100%">
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/5.jpg"
                         style="width: 100%; height: 100%">
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-thumbnail" src="/static/images/litters/n/6.jpg"
                         style="width: 100%; height: 100%">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <br>

    <!-- MODAL PRESENTATION -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="pres">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLongTitle"><span class="h6-titles">ZAPOWIEDZ MIOTU N</span></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img class="img-responsive img-thumbnail"
                             src="/static/images/litters/n/pres-temp.jpg"
                             style="width: 100%; height: 100%">
                    </div>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- PREVIOUS BUTTON -->
    <div class="table-responsive">
        <div class="col-12-sm" style="background-color: white; padding: 5px">
            <h5 class="h5-titles"><a class="importandLinks" style="color: #212529" href="pl_litters">WSZYSTKIE MIOTY</a></h5>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}
