{% extends "layout.html" %}

{% block content %}

<h1>POLSKA STRONA</h1>

<div>
    <ul>
        <li>
            <a href="/pl_news">AKTUALNOŚCI</a>
        </li>
        <li>
            <a href="/pl_exhibitions">WYSTAWY</a>
        </li>
        <li>
            <a href="/pl_breeding_bitches">SUKI HODOWLANE</a>
        </li>
        <li>
            <a href="/pl_litters">MIOTY</a>
        </li>
        <li>
            <a href="/pl_contact">KONTAKT</a>
        </li>
    </ul>
</div>

<form action="/">
    <button>POWRÓT DO STRONY GŁÓWNEJ</button>
</form>

{% endblock %}