{% extends "pl_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">AKTUALNIE W NASZEJ HODOWLI</h1>

    <section class="publicaciones-blog-home">
        <div class="container">
            <div class="">
                <div class="row-page row">

                    <!-- NEW PUPPIES 18/03/2021 -->
                    <div class="col-page col-sm-8 col-md-6">
                        <a href="/en_litter_j" class="black fondo-publicacion-home">
                            <div class="img-publicacion-principal-home">
                                <img class="" src="/static/images/news/new_puppies_18032021/1.jpg">
                            </div>
                            <div class="contenido-publicacion-principal-home">
                                <br>
                                <h3>MAMY SZCZENIĘTA!</h3>
                                <p style="font-style: italic">18/03/2021</p>
                                <br>
                                <br>
                                <p style="text-align: justify">Z przyjemnością informujemy, iż dnia 18 marca 2021r.
                                    powitaliśmy na świecie szczenięta. Urodziło się 5 chłopców i 2 dziewczynki. Maluchy
                                    i Mama czują się świetnie!</p>
                            </div>
                            <div class="mascara-enlace-blog-home">
                                <span>SEE MORE </span>
                            </div>
                        </a>
                    </div>

                    {#                    <div class="col-page col-sm-4 col-md-3">#}
                    {#                        <a href="" class="fondo-publicacion-home">#}
                    {#                            <div class="img-publicacion-home">#}
                    {#                                <img class="img-responsive"#}
                    {#                                     src="">#}
                    {#                            </div>#}
                    {#                            <div class="contenido-publicacion-home">#}
                    {#                                <h3>NEWS 2</h3>#}
                    {#                                <p>....</p>#}
                    {#                            </div>#}
                    {#                            <div class="mascara-enlace-blog-home">#}
                    {#                                <span>SEE MORE</span>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="col-page col-sm-4 col-md-3">#}
                    {#                        <a href="" class="fondo-publicacion-home">#}
                    {#                            <div class="img-publicacion-home">#}
                    {#                                <img class="img-responsive"#}
                    {#                                     src="">#}
                    {#                            </div>#}
                    {#                            <div class="contenido-publicacion-home">#}
                    {#                                <h3>NEWS 3</h3>#}
                    {#                                <p>...</p>#}
                    {#                            </div>#}
                    {#                            <div class="mascara-enlace-blog-home">#}
                    {#                                <span>SEE MORE </span>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="col-page col-sm-4 col-md-3">#}
                    {#                        <a href="" class="fondo-publicacion-home">#}
                    {#                            <div class="img-publicacion-home">#}
                    {#                                <img class="img-responsive"#}
                    {#                                     src="">#}
                    {#                            </div>#}
                    {#                            <div class="contenido-publicacion-home">#}
                    {#                                <h3>NEWS 4</h3>#}
                    {#                                <p>...</p>#}
                    {#                            </div>#}
                    {#                            <div class="mascara-enlace-blog-home">#}
                    {#                                <span>SEE MORE </span>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="hidden-sm col-page col-sm-4 col-md-3">#}
                    {#                        <a href="" class="fondo-publicacion-home">#}
                    {#                            <div class="img-publicacion-home">#}
                    {#                                <img class="img-responsive"#}
                    {#                                     src="">#}
                    {#                            </div>#}
                    {#                            <div class="contenido-publicacion-home">#}
                    {#                                <h3>NEWS 5</h3>#}
                    {#                                <p>...</p>#}
                    {#                            </div>#}
                    {#                            <div class="mascara-enlace-blog-home">#}
                    {#                                <span>SEE MORE </span>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="hidden-sm col-page col-sm-4 col-md-3">#}
                    {#                        <a href="" class="fondo-publicacion-home">#}
                    {#                            <div class="img-publicacion-home">#}
                    {#                                <img class="img-responsive"#}
                    {#                                     src="">#}
                    {#                            </div>#}
                    {#                            <div class="contenido-publicacion-home">#}
                    {#                                <h3>NEWS 6</h3>#}
                    {#                                <p>...</p>#}
                    {#                            </div>#}
                    {#                            <div class="mascara-enlace-blog-home">#}
                    {#                                <span>SEE MORE </span>#}
                    {#                            </div>#}
                    {#                        </a>#}
                    {#                    </div>#}

                    <div class="col-page col-sm-4 col-md-3">
                        <a href="/pl_news" class="todas-las-publicaciones-home">
                            <span>DO GÓRY</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <br>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}