{% extends "pl_layout.html" %}

{% block content %}
    <br>
    <h1 class="h1-titles">PRACUJACE CANE CORSO</h1>



    <div class="container">
        <!-- BODY-1 -->
        <div class="row" style="background-color: white">

            <!-- PAST CANE CORSO -->
            <div class="col-sm-4" style="background-color: white">
                <h4 class="h4-titles">Dawniej...</h4>
                <p style="text-align: justify">
                    Pierwotnie Cane Corso było używane w strefach działań wojennych, gdzie wykazywały się w wielu
                    atakach. Niektóre psy były wyposażane w wiadra z łatwopalnymi płynami i wysyłane za linię wroga z
                    płomieniami. Miały za zadanie odwrócić uwagę wroga tuż przed atakiem naziemnym. Niektóre psy były
                    szkolone do atakowania wrogów w bitwie, czasami nawet wysyłane w obrożach z kolcami i nożami na szyi
                    i łapach. Kiedy imperium zachodnie rozpadło się, ocalałe psy wcieliły się w bardziej cywilne
                    role i były częstym widokiem we Włoszech. Ponadto Cane Corso używane było do polowań na dziką
                    zwierzynę, do ochrony i wypasania zwierząt gospodarskich, patrolowania farm i winnic. Już wtedy
                    pełnieniły także rolę lojalnych strażników swoich właścicieli i ich majątku.
                </p>
                <p style="text-align: justify">
                    Nikt ani nic nie oszuka genetyki. Większość starożytnych cel tej rasy jest widoczna do dzisiaj. Cane
                    Corso było, jest i będzie psem pracującym!
                </p>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white; margin: auto">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/1.jpg"
                         width="350" height="265">
                </div>
            </div>

            <!-- NOW CANE CORSO -->
            <div class="col-sm-4" style="background-color: white">
                <h4 class="h4-titles">...teraz: </h4>
                <p style="text-align: justify">
                    W dzisiejszych czasach Cane Corso jest najbardziej znany jako lojalny i oddany pies rodzinny, z
                    jego zdystansowaną osobowością i pewną siebie, uprzejmą postawą. Niemniej ta rasa nadal wymaga
                    ogromu pracy, by być ukochanym towarzyszem. Cane Corso jest wysoko cenione za swoje zdolności do
                    pracy i są używane w różnych dziedzinach ze względu na ich naturalne zdolności.
                </p>
                <br>
                <h4 class="h4-titles">Ku przestrodze!</h4>
                <p style="text-align: justify">
                    Podejmując pracę z psem <strong>ZAWSZE</strong> korzystaj z doświadczonych i rekomendowanych
                    trenerów, którzy znają specyfikę rasy. Jeśli nie wiesz od czego zacząć, nigdy nie rób tego sam, może
                    to przynieść więcej szkody niż pożytku.

                </p>
            </div>

        </div>
        <br>

        <!-- BODY-1A -->
        <div class="row">

            <!-- IMPORTANT -->
            <div class="col-sm-12" style="background-color: white">
                <h4 class="h4-titles">Szukasz uroczego szczeniaczka? Cane Corso nie jest dla Ciebie!</h4>
            </div>

        </div>
        <br>

        <!-- BODY-2 -->
        <div class="row" style="background-color: white">
            <h4 class="h4-titles" style="padding-top: 10px">BALANS - najistotniejszy aspekt!</h4>

            <!-- DOGGY WORKER -->
            <div class="col-sm-6" style="background-color: white">
                <h5 class="h5-titles">PSI PRACOWNIK</h5>
                <p style="text-align: justify">
                    W przeszłości, Cane Corso był szkolony do pracy z "nocnymi stróżami", jako dodatkowy poziom ochrony
                    podczas działań obserwacyjnych. Strażnik mógł wówczas wysłać psa, aby zabezpieczył teren
                    patrolowanej posesji bez opuszczania własnego stanowiska lub innego obszaru, który wymagał kontroli.
                </p>
                <p style="text-align: justify">
                    Niektórzy rolnicy używali także swoich psów wyłącznie w określonych porach dnia pracy - na przykład
                    podczas zaganiania bydła do dojenia. Dopiero po wypełnieniu "psich obowiązków" pies stawał się
                    typowym zwierzakiem domowym i opiekunem gospodarstwa domowego.
                </p>
                <p style="text-align: justify">
                    Numerous owners seek out a Cane Corso because of their notoriety as a guardian breed. Unlike many
                    other guardian breeds, they are not instinctively going to attack for no reason if they are not
                    provoked to do so. The dogs tend to sense an owner’s uneasiness when a foe is around, so they will
                    be on high alert as a protector should if something about a situation is amiss. Their sense of
                    perception is highly regarded among Cane Corso enthusiasts because there are times the dog will
                    sense danger before an owner realizes something is wrong.
                </p>
                <p style="text-align: justify">
                    Corsos are such a popular guardian breed that there are multiple dog trainers who specialize in
                    helping owners with a Cane Corso who want their dog to be specifically trained as a protector. For
                    example, if you are a high-profile individual and want the Corso to be a guardian by your side
                    during public outings or you want the dog to act as a protective guardian for your child, this breed
                    easily takes up to this form of instruction. Through professional training and development, these
                    dogs can be almost as instinctively effective at guardianship as a physical bodyguard.
                </p>

            </div>

            <!-- HOME PET -->
            <div class="col-sm-6" style="background-color: white">
                <h5 class="h5-titles">PSI DOMOWNIK</h5>
                <p style="text-align: justify">
                    Mimo, że traktujemy psa jako zwierzaka, nie mamy wpływu na jego predyspozycje i geny. Nigdy nie
                    mamy pewności, że instynkty naszego psa zadziałają nieoczekiwanie. Nie mamy także gwarancji, że
                    pewnego dnia pies sam nie podejmie decyzji i dojdzie do czegoś strasznego. Dlatego zaleca się
                    szkolenie szczenięcia od pierwszych dni w naszym domu - nawet poprzez zabawę. Jeżeli Cane Corso nie
                    ma na zapewnionego obowiązkowego zajęcia (ochrona, psie sporty, pomoc dla stad /ochrona bydła)
                    szybko się nudzą i stają się destrukcyjne. Ich umysły muszą być zajęte, skupione na przewodniku i
                    zadaniu do wykonania, inaczej wykopią ogromne dziury w Twoim ogrodzie i zniszczą Twoje
                    ulubione buty.
                </p>
                <p style="text-align: justify">
                    Cane Corso jest rasą, która ma wokół siebie specjalną "aurę". Wywrze wrażenie na każdego, kogo
                    spotka. Pomimo niesamowitej energii, jaką zawierają ich duże ciałą, są w stanie zachować kontrolę i
                    zachowywać się królewsko - szkolenie i ciągła praca z psem to podstawa posiadania ułożonego psa -
                    pamiętaj, że trening przez zabwaę to także praca! Cała energia włożona w wychowanie i ułożenie psa
                    oraz poświęcony mu czas procentują jednym - wspaniałym psem.
                </p>
                <p style="text-align: justify">
                    Jak każdy pies stróżujący, Cane Corso ma potężną sylwetkę. Wbrew pozorom, te psy szczekają bardzo
                    mało, respekt budzą samym wyglądem. Cane Corso bardzo koncentruje się na pilnowaniu ludzi, których
                    kocha. Opiekują się swoim stadem - rodziną, do której należą, niemniej potrzebują przewodnika -
                    osoby, która wytyczy granice, ale jednocześnie zapewni bezpieczeństwo. Nie bez powodu określa się je
                    mianem „psa jednego pana”.
                </p>
                <p style="text-align: justify">
                    Kiedy ich obowiązki opiekuńcze kończą się, z chwili na chwilę, stają się dużymi dziećmi, które chcą
                    być przytulane!
                </p>
            </div>

        </div>
        <br>

        <!-- BODY-3 -->
        <div class="row" style="background-color: white; padding: 20px">

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/2.jpg"
                     width="350" height="265">
                <p></p>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/4.jpg"
                     width="350" height="265">
                <p></p>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <img class="img-responsive img-thumbnail" src="/static/images/about_breed/working_cane_corso/3.jpg"
                     width="350" height="265">
                <p></p>
            </div>

        </div>
        <br>

        <!--BODY-4 -->
        <div class="row" style="background-color: white">
            <h4 class="h4-titles" style="padding-top: 10px">NIKIFOR Dwie Skały</h4>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-1.jpg"
                         width="350" height="265">
                    <p></p>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="col-sm-4" style="background-color: white">
                <p style="text-align: justify">
                    Nasza hodowla przykłada dużą wagę do właściwego doboru psów do rozrodu. Stawiamy na mocne, wyważone
                    linie. Wygląd zewnętrzny jest dla nas równie ważny.
                </p>
                <p style="text-align: justify">
                    <strong>
                        Jako Hodowla jesteśmy dumni, że to właśnie od nas wyszedł jeden z najlepiej wyszkolonych psów w
                        Polsce - NIKIFOR Dwie Skały. Dzięki wspaniałej postawie Właścicielki był nielicznym psem, który
                        brał udział w egzaminie IPO3. Ilość godzin spędzonych na placu treningowym i ilość pracy
                        włożonej w psa są nie do opisania. Determinacja, wytrwałość i współpraca z najlepszymi trenerami
                        i pozorantami sprawiły, że Nikifor stał się doskonałym psem do towarzyszącym, a także
                        wykazującym predyspozycje obrony sportowej.
                    </strong>
                </p>
            </div>
            <br>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-2.jpg"
                         width="350" height="265">
                    <p></p>
                </div>
            </div>

        </div>

        <!-- BODY-4A -->
        <div class="row" style="background-color: white">

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-3.jpg"
                         width="350" height="265">
                    <p></p>
                </div>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-7.jpg"
                         width="350" height="265">
                    <p></p>
                </div>
            </div>

            <!-- PHOTO -->
            <div class="col-sm-4" style="background-color: white">
                <div class="container-fluid">
                    <img class="img-responsive img-thumbnail"
                         src="/static/images/about_breed/working_cane_corso/orso-6.jpg"
                         width="350" height="265">
                    <p></p>
                </div>
            </div>

        </div>
        <br>

        <!-- BODY-5 -->
        <div class="row">

            <!-- REFERENCES -->
            <div class="col-sm-12" style="background-color: white">
                <div class="references" style="text-align: left">
                    <p>BIBLIOGRAFIA</p>
                    <p>● www.breedingbusiness.com</p>
                    <p>● www.phoghavencanecorso.com</p>
                    <p>● www.acelenakliye.com</p>
                </div>
            </div>

        </div>
    </div>
    <br>

    <!-- PREVIOUS BUTTON -->
    <div class="table-responsive">
        <div class="col-12-sm" style="background-color: white; padding: 5px">
            <h5 class="h5-titles"><a class="importandLinks" style="color: #212529" href="pl_about_breed">POPRZEDNIA
                STRONA</a></h5>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <h1 class="h1-titles"><br></h1>
        <br>
        <br>
    </footer>

{% endblock %}